html{
    margin:0;
    padding: 0;
}
.slide-img {
    width: 80%;
    height: 800px;
    margin: 0 auto;
    position: relative;
    margin-top: 50px;
}
.img {
    max-width: 100%;
    min-width: 100%;
    max-height: 100%;
    min-height: 100%;
    display:none;
}

#prev {
    position: absolute;
    top: 50%;
    left: 0px;
    cursor: pointer;
    background: rgb(179, 174, 174);
    border: 1px solid gray;
    opacity: 0.8;
    width: 80px;
    height: 80px;
    /* display: none; */
}

#next {
    position: absolute;
    top: 50%;
    right: 0px;
    cursor: pointer;
    background: rgb(91, 90, 90);
    border: 1px solid rgb(188, 183, 183);
    opacity: 0.8;
    width: 80px;
    height: 80px;
    /* display: none; */
}
.button {
    width: 50%;
    height: 50px;
    position: absolute;
    bottom: 6px;
    right: 0px;
    opacity: 0.8;
    /* background-color: brown; */
    /* margin-left: 400px;*/
} 
.bt-click {
    width: 40px;
    height: 40px;
    margin: 10px;
    cursor: pointer;
}