html {
    margin: 0;
    padding: 0;
}

.background {
    background-image: url("img/hinh-nen-hoa-tulip_3.jpg");
    /* filter: blur(2px); */
    width: 100%;
    height: 100%;
    position: fixed;
    max-width: 100%;
    /* height: auto; */
    background-repeat: no-repeat;
    position: absolute;
    background-size: 100%
}

.bang {
    background-color: rgb(239, 239, 239);
    background: linear-gradient(rgba(223, 211, 211, 0.658), rgba(218, 217, 217, 0.5)), url(img/hinh-nen-hoa-tulip_3.jpg);
    width: 60%;
    max-width: 1500px;
    height: 400px;
    border: 5px;
    border-color: red;
    margin-top: 40px;
    border: 2px solid #000;
    border-radius: 20px;
    /* background-size: 100%; */
}

input {
    margin-top: 18px;
    margin-bottom: 18px;
    height: 30px; 
}

.text input {
    width: 50%;
}

.text label,
.fale label  {
    margin-left: 20px;
    font-size: 23px;
}

.button {
    /* background-color: brown; */
    width: 30%;
    height: 30px;
    border: 1px;
    /* border-color: red; */
    margin-top: 30px;
    /* border: 2px solid red; */
    /* border-radius: 20px; */
    text-shadow: 7px 10px 0px 0px #888888;
}

.button button {
    width: 120px;
    height: 30px;
    color: #fff;
    background-color: crimson;
    border: 2px solid crimson;
    box-shadow: 3px 3px 3px #AAA;
    font-size: 12px;
}

#login:hover,
#reset:hover {
    background-color: rgb(59, 104, 186);
    border: 2px solid lightskyblue;
}

.fale input[type="radio"] {
    transform: scale(1.8);
    /* Thay đổi kích thước */
    /*display: flex;  */
    align-items: center;
    margin-right: 20px;
}

/* CSS thêm vào để làm tròn ô radio */
.fale input[type="radio"]::before {
    border-radius: 50%;
}


